/* Base CSS for "My Times" */

body {
  color: #000000;
  font-family: Georgia, serif;
  font-size: 17px;
}

header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

.logoLabel {
  color: MediumAquamarine;
}

nav span {
  display: inline-block;
}