/* Base CSS for "My Times" */

/* REMOVE WHEN FINISH */
div {
  border: thin solid black;
}

body {
  color: #000000;
  background-color: #FFFFFF;
  font-family: Georgia, serif;
  font-size: 17px;
}

a {
  color: #000000;
}

header {
  background-color: #FFFFFF;
  font-family: Verdana, sans-serif;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: fixed;
    top: 0;
    left: 0;
  z-index: 10;
  width: 100%;
  border-bottom: thin solid #000000;
  border: thin solid black;
  height: 70px;
}

div.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}

.logoImage {
  padding-right: 12px;
}

.logoLabel {
  color: MediumAquamarine;
}

nav {
  padding-right: 40px;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

#content {
  display: flex;
  margin-top: 70px;
}

.column {
  display: flex;
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}